.plpContainer {
  width: 100%;
  max-width: 1024px;
  padding: 1rem;
  margin: 1rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  justify-items: center;
  align-items: center;
}
