.header {
  background: black;
  color: white;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-content: center;
}

.navIcon {
  position: relative;
  text-align: center;
  margin-right: 1rem;
  cursor: pointer;
}

.iconCounter {
  background-color: #ffba3c;
  border-radius: 50%;
  width: auto;
  min-width: 1.4em;
  height: 1.25em;
  text-align: center;
  font-size: 0.7rem;
  padding: 0.1rem;
  position: absolute;
  top: -0.5rem;
  font-weight: bold;
  right: -0.4em;
  color: #333;
}

.navIcon:last-child {
  margin-right: 0rem;
}

.navIcon p {
  margin: 0;
}
