button {
  appearance: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button.btn {
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: black;
  color: white;
  border-radius: 0.3rem;
}

.loading {
  background-color: #eee;
}

.add-margin-top {
  margin-top: 0.4rem;
}
.add-margin-bottom {
  margin-bottom: 0.4rem;
}
.margin-top-reset {
  margin-top: 0;
}
.margin-bottom-reset {
  margin-bottom: 0;
}
