.product-card {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 1rem;
}
.product-card--details {
  flex-basis: 80%;
}
.product-card--details * {
  margin: 0;
}
.product-card--images {
  flex-basis: 20%;
}
.product-card--images img {
  width: 100%;
  object-fit: contain;
  min-height: 100px;
  height: auto;
}

/* .product-card button {
  background-color: black;
  color: white;
  flex-basis: 100%;
  text-align: center;
} */
